* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenar {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}
.column-gap-2 {
    column-gap: 20px;
}
.div-Card {
    width: 50%;
  
}

.div-Card img {
    width: 100%;
    object-fit: cover;
}

.stayl-p-contant1 {
    color: black;
    width: 100%;

}

.stayl-p-contant2 {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.616);
}

a {

    text-decoration: none;
    color: rgba(128, 128, 128, 0.616);
}

.width-img-row img {
    width: 20%;
}
.fix-row{
    width: 50%;
    flex-direction: column;

}
.fix-row img {
    display: flex;
    width: 100%;
   
}
.fix-row p{
    width: 100%;
    display: flex;
}
/* .border{
    border: 1px solid black;
} */
 .fix-row div {
 box-shadow: 10px inset;
 }
